*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nova Square', sans-serif; 
}

body{
    background-image: url('../imagens/paisagem4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

label{
    width: 650px;
    font-family: 'Nova Square', sans-serif;
    color: rgb(252, 155, 171);
    text-align: center;
    border-radius: 30px;
    background-color: black;
    padding: 15px;
    display: block;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-variant: small-caps;
}

.topicos{
    margin-top: 150px;
    margin-left: -100px;
    
}

.info {
    color: white;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  height: 55vh;
  width: 60vw;
  display: none;
  align-items: left;
  justify-content: column;
  margin-top: 150px;
  margin-left: 200px;
  color: rgb(194, 192, 192);
  background-color: black;
  border-radius: 10px;
  padding-top: 30px;
  line-height: 2;

}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(252, 155, 171);
}
.close {
    top: 31.5%;
    position: absolute;
    right: 11.5%;
    width: 32px;
    height: 32px;
    cursor: pointer;
    
    &:hover {
        opacity: 0.6;
    }
}



.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}


.bemVindo{
    position: absolute;
    top: 0;
    left: 0;
    height: 250px;
    width: 330px;
    margin-left: 50px;
    margin-top: 50px;
    padding: 5px;
    color: white;
}

.btnTopico {
    width: 229px;
    background-color: rgb(3, 116, 151);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
    display: block;
    border: none;
    cursor: pointer;
}

.btnTopico:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
    transform: scale(1.05);
}

p::selection{
    background-color: black;
    color: rgb(252, 155, 171);
}
